
<section class="info_section layout_padding2" style="margin-top: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h4>
              Address
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="bi bi-house-door"></i>
                <span>
                  Chemist Bhavan Behind Cambrigde High School Shivaji Nagar Nanded-431602
                </span>
              </a>
              <a href="">
                <i class="bi bi-telephone"></i>
                <span>
                  Call : +91 8087927177
                </span>
              </a>
              <a href="">
                <i class="bi bi-envelope"></i>
                <span>
                drugassociation@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <!-- <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a> -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_link_box">
            <h4>
              Links
            </h4>
            <div class="info_links">
              <a class="" href="{% url 'home' %}">
                <img src="/static/img/nav-bullet.png" alt="">
                Home
              </a>
              <a class="" href="{% url 'aboutus' %}">  <!-- This should be href="{% url 'aboutus' %}" -->
                <img src="/static/img/nav-bullet.png" alt="">
                About
              </a>
              <a class="" href="{% url 'search' %}">
                <img src="/static/img/nav-bullet.png" alt="">
                Search
              </a>
              <a class="" href="{% url 'add' %}">
                <img src="/static/img/nav-bullet.png" alt="">
                Add Details
              </a>
              <a class="" href="{% url 'show' %}">
                <img src="/static/img/nav-bullet.png" alt="">
                Show Details
              </a>
              <a class="" href="{% url 'contact' %}">
                <img src="/static/img/nav-bullet.png" alt="">
                Contact Us
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_detail">
            <h4>
              Info
            </h4>
            <p>
              Join us today and become a part of the Nanded District Chemist & Drug Association to contribute to the growth and development of the pharmaceutical sector while making a positive impact on the lives of people in our community.
            </p>
          </div>
        </div>
        <div class="col-md-3 mb-0">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
    </div>
        <!-- <div class="col-md-3 mb-0">
          <h4>
            Subscribe
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Subscribe
            </button>
          </form> -->
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Barari iTechs Pvt Ltd</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->